<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2><%= title %></h2>
    <table>
        <thead>
            <tr>
                <th>
                    <a href="/" class="btn btn-sm btn-primary">Página inicial</a><br/><br/>
                </th>
                <th>
                    <a href="/cadastrar-vei" class="btn btn-sm btn-primary">Veículos por década</a><br/><br/>
                </th>
                <th>
                    <a href="/cadastrar-vei" class="btn btn-sm btn-primary">Veículos por fabricante</a><br/><br/>
                </th>
                <th>
                    <a href="/cadastrar-vei" class="btn btn-sm btn-primary">Cadastrados na ultima semana</a><br/><br/>
                </th>
            </tr>
        </thead>
    </table>    
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Ano</th>
                <th>Descrição</th>
                <th>Vendido</th>
                <th>Cadastrado</th>
                <th>Atualizado</th>
            </tr>
        </thead>
        <tbody>
            <% veiculos.forEach(function(veiculo){ %>
                <tr>
                    <td><%= veiculo.id_veiculo %></td>
                    <td><%= veiculo.nm_veiculo %></td>
                    <td><%= veiculo.nm_marca %></td>
                    <td><%= veiculo.ano %></td>
                    <td><%= veiculo.descricao %></td>
                    <td><%= veiculo.vendido %></td>
                    <td><%= veiculo.created %></td>
                    <td><%= veiculo.updated %></td>
                    <td>
                        <a href="editar/<%= veiculo.id_veiculo %>" class="btn btn-sm btn-primary">Editar</a>
                        <a href="excluir/<%= veiculo.id_veiculo %>" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>